*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -60px;
}
.container{
    width: 100%;
    height: 100%;
    background-color:rgba(42, 38, 61, 0.82);
    position: absolute;
}
h1{
    text-align: center;
    color: #FCB371;
    font-size: 48px;
    line-height: 84px;
    font-family: Pacifico;
    font-weight: normal;
    font-style: normal;
    margin-top: 5px;
}
form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}
form input{
    display: block;
    width: 382px;
    height: 46px;
    border-radius: 8px;
    margin: 11px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding-left: 10px;
}
form input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-left: 10px;
    color: #A9A9A9;
    
}
form input:nth-child(3){
    width: 177px;
    display: inline-block;
    margin-top: -1px;
}
form textarea{
    display: block;
    width: 382px;
    height: 116px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    margin-top: 1px;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 11px;
    padding-top: 8px;
    padding-left: 10px;
}
form textarea::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-left: 10px;
    padding-top: 8px;
    color: #A9A9A9;
}
form select{
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 189px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #A9A9A9;
}
form button{
    width: 383px;
    height: 53px;
    background-color: #FCB371;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 0px 11px;
    border: none;
    color: white;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    margin-top: 20px;
}
a{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 20px;
}
a span{
    border: 3px solid #FCB371;
    display: block;
    margin-top: 2px;
    margin-left: 20px;
    width: 35px;
}
a span:nth-child(1){
    transform: rotate(-45deg) translateY(2px);
    width: 15px;
}
a span:nth-child(3){
    transform: rotate(45deg) translateY(-2px);
    width: 15px;
}